@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

:root {
  font-family: 'Workbench', sans-serif;
  color: lime;
}


body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(60, 60, 56);
}

header {
  height: 50px;
  font-size: large;
  text-align: center;
}

main {
  display: grid;
  justify-content: center;
  margin: 10px;
}

.msg, h4 {
  text-align: center;
}

.boards {
  display: grid;
  grid-auto-flow: column;
  gap: 50px
}

.boardDiv {
  display: grid;
}

.boardWrapper {
  display: grid;
  grid: repeat(10, 1fr) / repeat(10, 1fr);
  width: clamp(150px, 50vw, 300px);
  aspect-ratio: 1;
  border: 1px dotted lime;
}

.cell {
  border: 1px dotted lime;
  cursor: pointer;
}

.ship {
  border: 2px solid yellow;
  background-color: rgba(255, 255, 0, 0.2);
  
}

.hit {
  border: 3px dotted red;
  background-color: rgba(255, 0, 0, 0.2);
}

.miss {
  border: 3px dotted grey;
  background-color: rgba(128, 128, 128, 0.2);
}
